@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
*, *::after, *::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

::-webkit-scrollbar {
    display: none;
    /* background-color: var(--F-Color);
    width: .2rem; */
}
/* 
::-webkit-scrollbar-thumb {
    background-color: var(--S-Color);
} */

body {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1037' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1037' x='0' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1037' x='720' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1037' x='720' y='720'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1037' x='1440' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1037' x='1440' y='720'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1031'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1032'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1034'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1036'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1033'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1035'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1037'%3e%3cuse xlink:href='%23SvgjsPath1031' x='30' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='30' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='30' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='30' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='30' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='30' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='30' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='90' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='90' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='90' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='90' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='90' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='90' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='90' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='90' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='90' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='90' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='150' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='150' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='150' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='150' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='150' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='210' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='210' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='210' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='210' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='210' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='210' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='270' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='270' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='270' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='270' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='270' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='330' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='330' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='330' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='330' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='390' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='390' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='390' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='390' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='390' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='390' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='450' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='450' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='450' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='450' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='450' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='450' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='450' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='450' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='510' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='510' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='510' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='510' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='510' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='510' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='510' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='510' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='570' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='570' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='570' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='570' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='570' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='570' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='630' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='630' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='630' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='630' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='630' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='30' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='90' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1036' x='690' y='150' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='690' y='210' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1033' x='690' y='270' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='690' y='330' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='690' y='390' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1031' x='690' y='450' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1034' x='690' y='510' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='690' y='570' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1035' x='690' y='630' stroke='rgba(0%2c 0%2c 0%2c 0.1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1032' x='690' y='690' stroke='rgba(0%2c 0%2c 0%2c 0.1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --F-Color: hsl(176, 50%, 47%);
    --S-Color: hsl(176, 72%, 28%);
}

.flex {
    display: flex;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.main--header {
    background-color: #fff;
    background-image: url("../../images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.main--nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}

.main--nav ul {
    display: flex;
}

.main--nav ul li {
    margin-left: 1rem;
}

.main--nav ul li a {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* wrapper */

.wrapper {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    background-color: #fff;
    width: 60vw;
    position: absolute;
    left: 50%;
    top: 155%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.mastercraft {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.row {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.row .head h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.row .head p {
    color: rgba(0, 0, 0, .7);
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.row .btns {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

.row .btns a {
    background-color: var(--F-Color);
    padding: 1.2rem 3rem;
    color: #fff;
    font-weight: 700;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.row .btns a:hover {
    background-color: var(--S-Color);
}

.bookmark {
    cursor: pointer;
    display: flex;
    width: fit-content;
    padding: 0 1rem 0 0;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.bookmark span {
    margin-left: .5rem;
    color: rgba(0, 0, 0, .5);
    font-weight: 700;
    pointer-events: none;
}

/* stats */

.stats {
    margin-top: 6rem;
    width: 100%;
}

.stats .numbers {
    justify-content: space-around;
}

.numbers--block h1 {
    font-size: 2rem;
    margin-bottom: .4rem;
}

.numbers--block span {
    color: rgba(0, 0, 0, .4);
    font-weight: 700;
}

.bar {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    border-radius: 1rem;
    height: 1.5rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: rgba(0, 0, 0, .1);
}

.bar::after {
    content: "";
    position: absolute;
    background-color: var(--F-Color);
    left: 0;
    top: 0;
    border-radius: 1rem;
    width: 75%;
    height: 100%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* About */

.about {
    margin-top: 7rem;
    text-align: start;
}

.scrollIntoView {
    animation: View .5s linear;
    -webkit-animation: View 1s linear .5s;
}

@keyframes View {
    0%, 100% {
        background-color: rgba(0, 0, 0, 0);
    }
    85% {
        background-color: rgba(0, 0, 0, .1);
    }
}

.about h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about p {
    font-weight: 500;
    color: rgba(0, 0, 0, .5);
    word-spacing: .2rem;
}

.about p span {
    margin-top: 5rem;
}

/* cards */

.cards {
    margin-top: 5rem;
}

.card {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
    transition: border .5s;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -ms-transition: border .5s;
    -o-transition: border .5s;
}

.card:hover {
    border: 1px solid var(--F-Color);
}

.card--head {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.card--head span {
    color: var(--F-Color);
    font-weight: 500;
}

.card--description {
    text-align: start;
    padding: 1rem 0;
}

.card--footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.card--footer p {
    font-weight: 700;
    color: rgba(0, 0, 0, .4);
}

.card--footer p span {
    color: rgba(0, 0, 0, 1);
    font-size: 2rem;
    font-weight: 700;
    margin-right: .4rem;
}

.card--footer a {
    color: #fff;
    background-color: var(--F-Color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.card--footer a:hover {
    background-color: var(--S-Color);
}

.outOfStock {
    opacity: .5;
    cursor: not-allowed;
}

.not-allowed {
    pointer-events: none;
    cursor: not-allowed;
}

footer {
    opacity: .5;
    pointer-events: none;
    padding: 2rem;
    text-align: center;
}

footer h1 {
    font-size: 1.5rem;
}

footer h1 em {
    color: red;
}